<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Birth</th>
      <th scope="col">Home</th>
      <th scope="col">Species</th>
      <th scope="col">Movies</th>
      <th scope="col">Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="isLoaded === false">
      <td colspan="6">... is loading</td>
    </tr>
    <tr *ngFor="let person of tableData; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ person.name }}</td>
      <td>{{ person.birth_year }}</td>
      <td>
        <sw-display-value
          [endpoint]="person.homeworld"
          [displayProperty]="'name'"
        ></sw-display-value>
      </td>
      <td>
        <sw-display-value
          *ngFor="let species of person.species"
          [endpoint]="species"
          [displayProperty]="'name'"
        ></sw-display-value>
      </td>
      <td>
        <sw-display-value
          *ngFor="let movie of person.films; last as isLast"
          [isMultiple]="true"
          [isLastMultiple]="isLast"
          [endpoint]="movie"
          [displayProperty]="'title'"
        ></sw-display-value>
      </td>

      <td>{{ person.url }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshTable()"
  >
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
  </select>
</div>
