<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="navbar-brand">
    <span class="d-inline-block">Sling</span>
    <span class="d-inline-block highlight-green">Academy</span>
  </div>

  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="/students"
      routerLinkActive="active"
    >
      Students
    </a>
    <a class="nav-item nav-link" routerLink="/posts" routerLinkActive="active">
      Blog Posts
    </a>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
