div {
  &.visible-styling {
    height: auto;
    visibility: visible;
  }

  &.invisible-styling {
    height: 1px;
    overflow: hidden;
    visibility: hidden;
  }
}

table {
  thead {
    th {
      &:first-of-type {
        width: 30px;
      }
    }
  }
}
