<nav class="navbar gradient mb-4">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Showcase for shared components</span>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <h1>About</h1>
      <p>
        This page shows all shared components. It can be used to develop new
        shared components or to maintain existing ones.
      </p>
      <p>
        If you'd like to see the projects <strong>Sling Academy</strong> or
        <strong>Star Wars Playground</strong> in action, please consult the
        README to see how to start them.
      </p>
    </div>

    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <h2>Lit Tab Container</h2>

      <lit-tab-container>
        <lit-tab tabHeading="Recipe 1">
          <h3>Recipe 1: Smashed potatoes</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </lit-tab>

        <lit-tab tabHeading="Recipe 2">
          <h3>Recipe 2: Potato salad</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </lit-tab>

        <lit-tab tabHeading="Recipe 3" active>
          <h3>Recipe 3: Spaghetti</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </lit-tab>
      </lit-tab-container>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <h2>Lit Tabs</h2>

      <lit-tabs>
        <lit-tab-head tabHeading="Recipe 1" active></lit-tab-head>
        <lit-tab-panel>
          <h3>Recipe 1: Spaghetti</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </lit-tab-panel>

        <lit-tab-head tabHeading="Recipe 2"></lit-tab-head>
        <lit-tab-panel>
          <h3>Recipe 2: Potato salad</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </lit-tab-panel>

        <lit-tab-head tabHeading="Recipe 3"></lit-tab-head>
        <lit-tab-panel>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </lit-tab-panel>
      </lit-tabs>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <h2>Lit Carousel</h2>
      <lit-carousel id="carousel" selected="2">
        <img src="https://picsum.photos/seed/1/200" />
        <img src="https://picsum.photos/seed/2/200" />
        <img src="https://picsum.photos/seed/3/200" />
        <img src="https://picsum.photos/seed/4/200" />
        <img src="https://picsum.photos/seed/5/200" />
        <img src="https://picsum.photos/seed/6/200" />
      </lit-carousel>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <showcase-pagination></showcase-pagination>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <showcase-endpoint-display-value></showcase-endpoint-display-value>
    </div>
    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col">
      <showcase-toggle></showcase-toggle>
    </div>

    <hr />
  </div>

  <div class="row">
    <div class="col-md-8 col-lg-6 col mb-5">
      <h3>Loading modal</h3>
      <p>
        The loading modal is a component that must be used with the NgbModal
        service. The component itself just renders a text and a spinner.
        Handling the modal must be done via NgbModal.
      </p>
      <button type="button" class="btn btn-primary" (click)="openModal()">
        Open modal
      </button>
    </div>
  </div>
</div>
