<h3>Endpoint Display Value</h3>
<p>
  This component renders a plain span-Element with data it fetches from a HTTP
  request.
</p>

<h6 class="mb-3">Configuration:</h6>

<div class="d-flex mb-4">
  <div class="form-group small me-2">
    <label for="inputEndpointOption" class="form-label">
      Choose endpoint:
    </label>
    <select
      id="inputEndpointOption"
      class="form-select"
      style="width: auto"
      [formControl]="endpointCtrl"
    >
      <option *ngFor="let ec of endpointConfiguration" [ngValue]="ec">
        {{ ec.selectOption }}
      </option>
    </select>
  </div>

  <div class="form-group small">
    <label for="inputEndpointProperty" class="form-label">
      Choose property:
    </label>
    <select
      id="inputEndpointProperty"
      class="form-select"
      style="width: auto"
      [formControl]="endpointPropertyCtrl"
    >
      <option *ngFor="let option of endpointPropertyOptions" [ngValue]="option">
        {{ option }}
      </option>
    </select>
  </div>

  <button
    *ngIf="endpointChoiceMade === true"
    type="button"
    class="btn btn-info"
    (click)="clearSelection()"
  >
    Clear selection
  </button>
</div>

<h6 class="mb-3">Component in action:</h6>

<ng-container
  *ngIf="
    endpointChoiceMade === true && endpointCurrentEp && endpointCurrentProp;
    else InfoTpl
  "
>
  <lib-endpoint-display-value
    [endpoint]="endpointCurrentEp"
    [propertyToDisplay]="endpointCurrentProp"
  ></lib-endpoint-display-value>
  <small id="passwordHelpBlock" class="form-text text-muted">
    You did choose the endpoint <i>{{ endpointCurrentEp }}</i> and the property
    <i>{{ endpointCurrentProp }}</i>
  </small>
</ng-container>
<ng-template #InfoTpl>Please choose endpoint and property above.</ng-template>
