<ng-container
  *ngIf="{
    sortConfig: sortConfig$ | async,
    isActiveSortColumn: isActiveSortColumn$ | async
  } as obj"
>
  <span
    *ngIf="obj.sortConfig?.direction === sortDirection.ASC"
    (click)="sort(sortDirection.DESC)"
  >
    <i
      class="bi"
      [ngClass]="
        obj.isActiveSortColumn
          ? 'bi-arrow-up-circle-fill'
          : 'bi-arrow-up text-muted'
      "
    ></i>
  </span>
  <span
    *ngIf="obj.sortConfig?.direction === sortDirection.DESC"
    (click)="sort(sortDirection.ASC)"
  >
    <i
      class="bi"
      [ngClass]="
        obj.isActiveSortColumn
          ? 'bi-arrow-down-circle-fill'
          : 'bi-arrow-down text-muted'
      "
    ></i>
  </span>
</ng-container>
